#DisplayContact {
    margin: 0px 15px 0px 15px;
    padding: 0px;
    padding-bottom: 68px;
    text-align: center;
    background-color: var(--foreground) !important;
}

.contactJumbo {
    padding-top: 50px !important;
    margin-top: 0px !important;
}

.contactButtons {
    margin: -68px 200px 0px 200px;
    padding: 85px 45px 85px 45px;
    background-color: var(--foregroundPop);
    border-bottom: 1px solid var(--background);
    border-top: 1px solid var(--background);
    
}

.contactButtons img {
    max-width: 10vw;
    width: 200px;
    float: left
}

.entireContactType {
    display: flex;
    align-items: center;
    margin: 3px;
}

.contactInfoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.contactLink {
    display: flex;
    align-items: center;
    color: black;
}