#DisplayContact {
    margin: 0px 15px 0px 15px;
    padding: 0px;
    text-align: center;
    background-color: var(--foreground) !important;
    height: 80vh;
}

.contactJumbo {
    padding-top: 50px !important;
    margin-top: 0px !important;
}

.contactButtons {
    margin: -68px 200px 0px 200px;
    padding: 85px 45px 85px 45px;
    background-color: var(--foregroundPop);
}

.contactButtons img {
    max-width: 100%;
    width: 200px;
    margin: auto;
}