#displayHome {
    margin: 0px 15px 0px 15px;
    padding: 10vw;
    text-align: center;
    background-color: antiquewhite;
}

.textDiv {
    margin: 0px auto 0px auto;
    width: 80vw;
    padding: 0px 5vw 10vw 5vw;
    border-bottom: 1px solid #444;
    border-top: 1px solid #444;
    background-color: rgb(253, 245, 234);
}

.textDiv:last-of-type, .textDiv:first-of-type {
    background-color: antiquewhite;
    border: none;
}
