#formChoiceDiv {
    margin-bottom: 30px;
    background-color: #777;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

#chooseLabel {
    margin-right: 20px;
}

.radio {
    display: flex;
    justify-content: flex-start;
}