.ProductsDiv {
    max-width: 80vw;
    margin: auto;
}

.ProductsDiv .textContent {
    margin: 10px 30px 10px 30px;
}

.GVDivText {
    max-width: 80vw;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .ProductsDiv, .textContent {
        margin: 0px;
        padding: 0px;
    }
    .productCard {
        margin: 0px !important;
    }
}