#displayHome {
    margin: 0px 15px 0px 15px;
    padding: 15px;
    text-align: center;
    background-color: var(--foreground);
}

.textDiv {
    margin: 0px auto 0px auto;
    width: 80vw;
    padding: 2vw;
    border-bottom: 1px solid var(--background);
    border-top: 1px solid var(--background);
    display: flex;
    background-color: var(--foregroundPop);
    margin-top: 75px;
}

.textDiv:last-of-type, .textDiv:first-of-type {
    background-color: var(--foreground);
    border: none;
    margin-bottom: 0px;
    margin-top: 0px;
}

.textDivContent {
    margin: 0px 55px 0px 55px;
}

#middleDiv{
    display: flex;
    align-items: center;
}

.faceImages {
    width: 80vw;
}

.verticalFaces {
    height: 100%;
}

@media only screen and (max-width: 1000px) {
    .verticalFaces {
        display: none;
    }
    #middleDiv {
        padding-bottom: 50px;
    }
}