.navbar {
    padding: 10px 0px 10px;
    background-color: #444;
}

.navbar-brand {
    color: #fff;
}

.navlinks {
    padding: 0px 15px 0px 15px;
    color: #fff;
}

.navlinks:hover {
    border: 1px #fff solid;
    background-color: #555;
}

.navlinks a {
    color: inherit;
}

.active {
    background-color: #555;
}