.navbar {
    padding: 10px 0px 10px;
    background-color: var(--background);
}

.navbar-brand {
    color: #fff;
}

.navbar-brand img {
    height: 165px;
}

.navlinks:hover {
    border: 1px #fff solid;
    background-color: #555;
}

.nav-link {
    padding: 10px 25px 10px 25px !important;
    color: #fff !important;
    height: 100%;
    width: 100%;
}

.active {
    background-color: #555;
}